
<h1>Title: <%= @job.title %></h1>
<br>

Category: <%= @job.category.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %><br><br>

<%= render partial: "comment_form" %>

<h2> Comments </h2> <br>

<% @job.comments.each do |comment| %>
<h4><%= comment.content %></h4><br><br>
<% end %>
