
<h1>Title: <%= @job.title %></h1>
<br>

Category: <%= @job.category.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @company.name, company_path(@company) %><br><br>

<%= render partial: "comment_form" %>

<h2> Comments </h2> <br>

<ol>
<% if @job.comments %>
  <% @job.comments.each do |comment| %>
    <h4><li> -- <%= comment.content %></li></h4>
      <ul>
        <li id="delete"><%= link_to "delete", url_for([@job, comment]), method: :delete %></li>
      </ul>
  <% end %>
<% else %>
  <% end %>
</ol>
